.layout {
  hr {
    background-color: white;
    height: 1px;
    margin: 0 auto 2rem auto;
    width: 90%;
  }
  &__container {
    &-content {
      padding: 0 2rem;
      min-height: 35rem;
    }
  }
}

@media(min-width: 992px) {
  .layout {
    &__container {
      &-content {
        padding: 0 6rem;
      }
    }
  }
}